<div class="main_content">
	<main>
		<section>
			<h1>Compras</h1>
			<h3>Administración / Contabilidad / Compras</h3>
		</section>
		<br>
		<section>
		<div class="tabs">
			<div class="tab-buttons">
				<button class="tab-button active" data-tab="1">COMPRAS POR INGRESAR</button>
				<button class="tab-button" data-tab="2">COMPRAS INGRESADAS</button>
			</div>
			<div class="tab-content">
				<section class="tab-panel active" id="tab-1">
					<div class="container_list">
							<div id="list_jsonComprasNoIngresadas">
    						<article>
                  <section class="facE_identificacion">
                    <h2>Identificación</h2>
                    <p><strong>Control:</strong> DTE-03-M001P001-000000000011149</p>
                    <p><strong>Generación:</strong> 36C7A3B3-D69D-F61B-E063-1632000A366D</p>
                    <p><strong>Fecha:</strong> 2025-06-04</p>
                    <p><strong>Hora:</strong> 16:37:55</p>
                    <p><strong>Moneda:</strong> USD</p>
                  </section>
                  <section class="facE_emisor">
                    <h2>Emisor</h2>
                    <p><strong>Nombre:</strong> Corporacion CEFA, S.A. DE C.V</p>
                    <p><strong>NIT:</strong> 06142704001062 | NRC: 1241241</p>
                    <p><strong>Dirección:</strong> Calle Siemens y Avenida Lamatepec 55-56 , ANTGO CUSCATLAN</p>
                    <p><strong>Teléfono:</strong> 22591100 | <strong>Email:</strong> recepcion_dte@cefaelsalvador.com.sv</p>
                  </section>
                  <section class="facE_detalleProductos">
                    <h2>Detalle de la Factura</h2>
                    <table border="1" cellpadding="5" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Código</th>
                          <th>Descripción</th>
                          <th>Cantidad</th>
                          <th>Precio Unitario</th>
                          <th>Descuento</th>
                          <th>Venta Gravada</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>567506</td>
                          <td>DIPROSPAN INYECTABLE 2 ml 1 VIAL</td>
                          <td>50</td>
                          <td>$26.41</td>
                          <td>$39.62</td>
                          <td>$1280.89</td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                  <section class="facE_resumen">
                    <h2>Resumen</h2>
                    <p><strong>Subtotal:</strong> $1280.89</p>
                    <p><strong>IVA (13%):</strong> $166.52</p>
                    <p><strong>Percepción IVA:</strong> $12.81</p>
                    <p><strong>Total operación:</strong> $1447.41</p>
                    <p><strong>Total a pagar:</strong> $1460.22</p>
                    <p><strong>Total en letras:</strong> UN MIL CUATROCIENTOS SESENTA CON 22/100 DOLARES</p>
                  </section>
                  <section class="facE_acciones">
                    <h2>Acciones</h2>
                    <button class="btn_guardar" onclick="guardar_compra_si()" >Guardar</button>
                    <button class="btn_editar">Editar</button>
                    <button class="btn_eliminar">Eliminar</button>
                  </section>
                </article>
						  </div>
					 </div>
				  </section>
			  	<div class="tab-panel" id="tab-2">Contenido de la Pestaña 2</div>
			  </div>
		  </div>
		</section>
	</main>
</div>
