<div class="main_content">
	<main>
		<section>
			<h1>Compras</h1>
			<h3 class="ruta_system">Administración / Contabilidad / Compras</h3>
		</section>
		<br>
		<section class="vista_compras">
		<div class="tabs">
			<div class="tab-buttons">
				<button class="tab-button active" data-tab="1">COMPRAS POR INGRESAR</button>
				<button class="tab-button" data-tab="2">COMPRAS INGRESADAS</button>
			</div>
			<div class="tab-content">
				<section class="tab-panel active" id="tab-1">
					<div class="container_list">
							<div id="list_jsonComprasNoIngresadas">
    						{{!-- Aqui se cargan desde JavaScript --}}
						  </div>
					 </div>
				  </section>
			  	<div class="tab-panel" id="tab-2">
            <div class="filtros_datos">
              <input class="input_filter_table" type="date" id="fecha_inicio">
              <input class="input_filter_table" type="date" id="fecha_final">
              <input class="input_filter_table" type="text" id="busqueda_proveedor" list="lista_proveedores">
              <button class="filtar_table">Filtrar</button>
              <datalist id="lista_proveedores"></datalist>
              <option value=""></option>
            </div>
                <div class="table-container">
                  <table>
                    <thead>
                      <tr>
                        <th>¿Elegir?</th>
                        <th>No. DTE:</th>
                        <th>PROVEEDOR:</th>
                        <th>TOTAL:</th>
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                      {{!-- Aqui se carga desde JavaScript --}}
                    </tbody>
                  </table>
                </div>
          </div>
			  </div>
		  </div>
      <div class="datos_utilidad">
        <div class="json_cargar active" id="info_pestania-1">
          <h1>Carpeta Elegída:</h1>
          <h3 class="info" id="h3_ruta_carga">{{!-- Aqui se carga desde JavaScript --}}</h3>
          <h1>Cantidad de JSON encontrados:</h1>
          <h1 class="info" id="h1_cantJsons">{{!-- Aqui se carga desde JavaScript --}}</h1>
          <h1>Carpeta donde se guardan los JSON registrados:</h1>
          <h3 class="info" id="h3_ruta_destino">{{!-- Aqui se carga desde JavaScript --}}</h3>
        </div>
        {{!-- Información para las compras ya guardadas --}}
        <div class="json_cargar" id="info_pestania-2">
          <h1>Total compras al crédito:</h1>
          <h1 class="info">$ 0.00{{!-- Aqui se carga desde JavaScript --}}</h1>
          <h1>Total notas de crédito:</h1>
          <h1 class="info">$ 0.000{{!-- Aqui se carga desde JavaScript --}}</h1>
          <h1>Operación:</h1>
          <h1 class="info">$ 0.0000{{!-- Aqui se carga desde JavaScript --}}</h1>
        </div>
      </div>
		</section>
	</main>
</div>
