
<div class="main_content_none">
    <main>
        <section class="recent">
            <div class="activity_grid_oneC">
                <div class="activity_card_login">
                    <div class="bday_card_login">
                        <!-- <form class="formne" action="/link/add" method="POST" autocomplete="off"> -->
                        <form class="formne form_login" autocomplete="off" id="signup" action="/signin" method="POST">
                            <div class="img_login">
                                <img src="img/logo_temporal.svg" alt="">
                            </div>
                            {{!-- <h4 class="title_fLogin">Iniciar Sesión</h4> --}}
                            <br>
                            <br>
                            <div class="input_container_divitions_login">
                                <div class="input_group">
                                    <label for="user_name">Nombre De Usario:</label>
                                    <input name="user_name" id="user_name" type="text" placeholder="*">
                                </div>
                                <div class="input_group">
                                    <label for="user_pass">Contraseña:</label>
                                    <input name="user_pass" id="user_pass" type="password" placeholder="*">
                                </div>
                            </div>
                            <div class="input_group">
                                <input type="submit" id="btn_add_encSv" value="Ingresar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>